/* Text color*/
.text-primary{
    color: orange;
}
.text-secondary{
    color: blue;
}
/* Button */
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #060702;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-primary{
    background: forestgreen;
    color: gold;
}
.btn-secondary{
    background:#0284d0;
    color:#fff;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.btn-light{
    background: #fff;
    color:#333;
}

